<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <i-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </i-col>
            <i-button @click="query">查询</i-button>
			#if($shiro.hasPermission("storeconfigure:save"))
            <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
			#end
			#if($shiro.hasPermission("storeconfigure:update"))
            <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
			#end
			#if($shiro.hasPermission("storeconfigure:delete"))
            <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
			#end
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="formValidate" :model="storeConfigure" :rules="ruleValidate" :label-width="200">
            <Form-item label="店铺名称" prop="storeName" style="width: 450px;">
                <i-input v-model="storeConfigure.storeName" placeholder="手动填写"/>
            </Form-item>
            <Form-item label="部门ID" prop="deptParentId" style="width: 400px;">
                <i-input v-model="storeConfigure.deptParentId" placeholder="存放部门（店铺/公司）一级ID"/>
            </Form-item>
            <Form-item label="小程序APPID" prop="appId" style="width: 600px;">
                <i-input v-model="storeConfigure.appId" placeholder="小程序APPID"/>
            </Form-item>
            <Form-item label="小程序AppSecret" prop="appSecret" style="width: 600px;">
                <i-input v-model="storeConfigure.appSecret" placeholder="小程序AppSecret"/>
            </Form-item>
            <Form-item label="微信支付商户号" prop="muchId" style="width: 400px;">
                <i-input v-model="storeConfigure.muchId" placeholder="微信支付商户号"/>
            </Form-item>
            <Form-item label="微信支付秘钥" prop="paySingKey" style="width: 600px;">
                <i-input v-model="storeConfigure.paySingKey" placeholder="微信支付秘钥"/>
            </Form-item>
            <Form-item label="状态" prop="status">
                <Radio-group v-model="storeConfigure.status"  placeholder="状态 （0 营业   1 休息  2 冻结 ）">
                    <Radio label="0">
                        <span>营业</span>
                    </Radio>
                    <Radio label="1">
                        <span>休息</span>
                    </Radio>
                    <Radio label="2">
                        <span>冻结</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <Form-item label="标记删除" prop="status">
                <Radio-group v-model="storeConfigure.isDelete" placeholder="逻辑删除（0 正常  1 删除）">
                    <Radio label="0">
                        <span>正常</span>
                    </Radio>
                    <Radio label="1">
                        <span>删除</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <!--<Form-item label="创建者" prop="createBy">-->
                <!--<i-input v-model="storeConfigure.createBy" placeholder="创建者"/>-->
            <!--</Form-item>-->
            <!--<Form-item label="创建时间" prop="createTime">-->
                <!--<i-input v-model="storeConfigure.createTime" placeholder="创建时间"/>-->
            <!--</Form-item>-->
            <!--<Form-item label="更新者" prop="updateBy">-->
                <!--<i-input v-model="storeConfigure.updateBy" placeholder="更新者"/>-->
            <!--</Form-item>-->
            <!--<Form-item label="更新时间" prop="updateTime">-->
                <!--<i-input v-model="storeConfigure.updateTime" placeholder="更新时间"/>-->
            <!--</Form-item>-->
            <!--<Form-item label="备注" prop="remark">-->
                <!--<i-input v-model="storeConfigure.remark" placeholder="备注"/>-->
            <!--</Form-item>-->
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formValidate')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script src="${rc.contextPath}/js/store/storeconfigure.js?_${date.systemTime}"></script>
</body>
</html>